.logInForm {
  max-width: 500px;
  margin: 60px auto;
  background-color: #262d35;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  color: #179cff;
  font-size: 2rem;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 15px 0 8px;
  font-size: 1.2rem;
}

.inputField {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s;
  font-size: 1rem;
}

.inputField:focus {
  border-color: #179cff;
}

.logOutBtn {
  width: 100%;
  padding: 14px;
  background-color: #179cff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  margin-top: 20px;
}

.logOutBtn:hover {
  background-color: #179cff;
}

.errorValid {
  color: #e74c3c;
  font-size: 1rem;
  margin-bottom: 12px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

@media screen and (max-width: 800px) {
  .logInForm {
    margin: 10px;
  }
}
