.footer {
  background-color: #262d35;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
  margin-top: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  font-size: 16px;
  color: #179cff;
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #179cff;
}

.text {
  font-size: 16px;
}

.copyright {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
}
